@font-face {
    font-family: 'FuturaCyrillicLight';
    src: url('./fonts/FuturaCyrillicLight.ttf');
}

body{
    padding: 0;
    margin: 0;
}

.logo{
    margin-left: 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 90px;
    height: 50px;
}

.mainmenu li{
    list-style: none;
    margin-right: 25px;
}

.mainmenu a{
    text-decoration: none;
    color: black;
}

.right-menu{
    margin-right: 30px;
}

.hidden{
    display: none;
}

.mainmenu ul{
    display: flex;
    flex-direction: row;
}

.header{
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

.header1-minimized{
    display: none;
}

.mainmenu{
    font-family: "FuturaCyrillicLight";
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    margin-left: 0px;
    align-items: center;
}

#more {
    color: rgb(255, 123, 0);
}

hr {
    border: 1px solid rgb(158, 152, 152);
}

#try-live{
    color: blue;
}

@media(max-width:1272px){
    .right-menu{
        font-size: 14px;
    }

    .left-menu{
        font-size: 16px;
    }
}

@media(max-width:1024px){
    .header{
        display: none;
    }

    .header1-minimized{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: "FuturaCyrillicLight";
        font-size: 22px;
        font-weight: 1000;
    }

    #minimized-menu{
        margin-left: 50px;
        display: flex;
    }

    #minimized-menu a{
        text-decoration: none;
        color: black;
    }

    #minimized-menu img{
        margin-left: 5px;
        margin-top: 15px;
        width: auto;
        height: 5px;
    } 
}
